<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text">
        <a href="/" title="Home" aria-label="Ernestly">Ernestly</a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>

  <nav role="navigation" class="usa-nav">
    <div class="grid-container">
      <button class="usa-nav__close">
        <img src="/assets/img/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/">Home</a></li>
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/about/">About</a></li>
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/tracks/">Tracks</a></li>
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/speakers/">Speakers</a></li>
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/apply/">Apply</a></li>
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/sponsors/">Sponsors</a></li>
        <li class="usa-nav__primary-item"><a class="usa-nav__link" href="/dao/">DAO</a></li>
      </ul>
    </div>
  </nav>
</header>
