<nav role="navigation" class="usa-nav">
  <button class="usa-nav__close">
    <img src="/assets/img/close.svg" role="img" alt="Close" />
  </button>
  <ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item">
      <a href="/" class="usa-nav__link"><span>Home</span></a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="/tracks/" class="usa-nav__link"><span>Tracks</span></a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="/apply/" class="usa-nav__link"><span>Apply</span></a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="/sponsors/" class="usa-nav__link"><span>Sponsors</span></a>
    </li>
    <li class="usa-nav__primary-item">
      <a href="https://earnestlydao.io" class="usa-nav__link" target="_blank"><span>DAO</span></a>
    </li>
  </ul>
</nav>
