<section class="usa-section bg-base-lightest">
  <div class="grid-container">
    <h2 class="usa-heading-lg">What Is Ernestly?</h2>
    <p>
      A conference, a movement, a new operating system for society. Ernestly convenes the world’s most ambitious technologists, designers, and policy disrupters to imagine what public life can become—when you move fast and fix things.
    </p>
    <blockquote class="usa-prose margin-top-3">
      “Ernestly changed the way I think about democracy—as a service I can launch.”<br />
      <strong>— Alvin Trask, serial public entrepreneur</strong>
    </blockquote>
  </div>
</section>
