<!DOCTYPE html>
{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<html lang="en">

{% include "meta.html" %}

<body>
  <!-- DAO Status Banner -->
<section class="usa-banner bg-accent-gold-200 padding-y-1">
  <div class="grid-container display-flex flex-align-center">
    <p class="margin-0 text-bold text-base">
      🗳 ErnestlyDAO governance session <em>currently in progress</em>. All decisions subject to retroactive ratification.
    </p>
  </div>
</section>
  

  {% include "header.html" %}

  {{ content }}

  {% include "footer.html" %}

  {% comment %} Hide SVG Sprites {% endcomment %}
  <div style="display: none;">
    {% usa_icons_sprite %}
    {% uswds_icons_sprite %}
  </div>

  {% include "scripts.html" %}
</body>

</html>
